<div *ngIf="name === ''">room {{ name }} loading</div>
<div *ngIf="name !== ''">
  <div [hidden]="true">
    {{ room$ | async | json }}
  </div>
  <div class="container">
    <div class="word-section">
      <div class="row" *ngFor="let row of room.words">
        <div class="cell" *ngFor="let cell of row">
          <div [ngClass]="{ selected: cell.selected }">{{ cell.text }}</div>
        </div>
      </div>
    </div>
    <div class="player-section">
      <div>
        Hello {{ userName }}
        <mat-icon (click)="showUserNameInput()" class="clickable"
          >create
        </mat-icon>
      </div>
      <div *ngIf="userNameInputSwitch">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="user name"
            [formControl]="userNameInput"
          />
        </mat-form-field>
        <button mat-button (click)="updateUserName()">Submit</button>
      </div>
      <div>
        <mat-toolbar>
          <button mat-icon-button (click)="joinTeam('ob')">
            <mat-icon>group_add</mat-icon>
          </button>
          <span>Observers</span>
        </mat-toolbar>
        <div *ngFor="let obId of room.observers">
          {{ room.players[obId].name }}
        </div>
      </div>
      <div>
        <mat-toolbar>
          <button mat-icon-button (click)="joinTeam('red')">
            <mat-icon>group_add</mat-icon>
          </button>
          <span>Team Red</span>
          <span class="spacer"></span>
          <button mat-icon-button (click)="commandeer('red')">
            <mat-icon>flag</mat-icon>
          </button>
        </mat-toolbar>
        <div *ngFor="let id of room.teamRed">
          <div>
            {{ room.players[id].name }}
            <mat-icon *ngIf="id === room.teamRedCaptain"> star </mat-icon>
          </div>
        </div>
      </div>
      <div>
        <mat-toolbar>
          <button mat-icon-button (click)="joinTeam('blue')">
            <mat-icon>group_add</mat-icon>
          </button>
          <span>Team Blue</span>
          <span class="spacer"></span>
          <button mat-icon-button (click)="commandeer('blue')">
            <mat-icon>flag</mat-icon>
          </button>
        </mat-toolbar>
        <div *ngFor="let id of room.teamBlue">
          {{ room.players[id].name }}
          <mat-icon *ngIf="id === room.teamBlueCaptain"> star </mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
