@import "variables";

@media only screen and (max-width: 899px) {
  .container {
    flex-direction: column-reverse;
  }
}

.room-container {
  display: grid;
  height: 100%;
}
.container {
  display: flex;
  margin: auto 25px;
  .word-section {
    flex: 1 1 80%;
    .turn-information {
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .red {
        color: red;
      }
      .blue {
        color: blue;
      }
      .turn-stats {
        margin: 0 5px 0 0;
      }
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      .cell {
        flex: 1 1 auto;
        height: 80px;
        line-height: 80px;
        text-align: center;
        padding: 15px;
        
        div {
          background-color: #efefef;
          cursor: pointer;
          min-width: 80px;
          overflow: hidden;
        }

        &.captain, &.reveal {
          .red {
            color: red;
            &.selected {
              color: white;
              background-color: red;
            }
          }
          .blue {
            color: blue;
            &.selected {
              color: white;
              background-color: blue;
            }
          }
          .assassin {
            background-color: $assassin-color;
            color: white;
          }
          div {
            cursor: not-allowed;
            pointer-events: none;
          }
          pointer-events: none;
        }

        .red {
          &.selected {
            color: white;
            background-color: red;
          }
        }
        .blue {
          &.selected {
            color: white;
            background-color: blue;
          }
        }
        .assassin {
          &.selected {
            background-color: black;
            color: white;
          }
        }
        .neutral {
          &.selected {
            background-color: darkgray;
            color: white;
          }
        }
      }
    }
  }
  .player-section {
    flex: 0 0 300px;

    .team-info {
      border: 1px solid $grey1;
      margin-bottom: 10px;
      padding: 0 0 10px 0;
    }
  }
}
