.container {
  display: flex;
  .word-section {
    flex: 1 1 80%;
    .row {
      display: flex;
      .cell {
        flex: 1 1 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        padding: 5px;
        div {
          background-color: #efefef;
        }

        &.captain {
          .red {
            color: red;
          }
          .blue {
            color: blue;
          }
          .assassin {
            background-color: grey;
            color: white;
          }
          div {
            cursor: not-allowed;
          }
        }
      }
    }
  }
  .player-section {
    flex: 0 0 300px;
  }
}
