@import "variables";

.room-container {
  display: grid;
  height: 100%;
}
.container {
  display: flex;
  margin: auto 25px;
  .word-section {
    flex: 1 1 80%;
    .turn-information {
      padding: 0 15px;
      &.red {
        color: red;
      }
      &.blue {
        color: blue;
      }
    }
    .row {
      display: flex;
      .cell {
        flex: 1 1 200px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        padding: 15px;
        cursor: pointer;
        div {
          background-color: #efefef;
        }

        &.captain {
          .red {
            color: red;
            &.selected {
              color: white;
              background-color: red;
            }
          }
          .blue {
            color: blue;
            &.selected {
              color: white;
              background-color: blue;
            }
          }
          .assassin {
            background-color: $assassin-color;
            color: white;
          }
          div {
            cursor: not-allowed;
            pointer-events: none;
          }
          pointer-events: none;
        }

        .red {
          &.selected {
            color: white;
            background-color: red;
          }
        }
        .blue {
          &.selected {
            color: white;
            background-color: blue;
          }
        }
        .assassin {
          &.selected {
            background-color: black;
            color: white;
          }
        }
        .neutral {
          &.selected {
            background-color: darkgray;
            color: white;
          }
        }
      }
    }
  }
  .player-section {
    flex: 0 0 300px;
  }
}
